.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left; }
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center;  } 
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

.addition {
    height: 100px;
    width: 50px;
    color: white;
    float: left;
    z-index: 10;
    position: absolute;
}

.MultiCarousel p {
    height: 55px;
}

.discount {
    height: 20px;
    width: 40px;
    background-color: rgba(233, 75, 75, 0.925);
    color: white;
    float: left;
}

.like {
    height: 20px;
    width: 40px;
    background-color: rgba(248, 244, 237, 0.925);
    color: rgba(233, 75, 75, 0.925);
    float: left;
}

.new {
    height: 20px;
    width: 40px;
    background-color:black;
    color: white;
    float: left;
}
